body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

.hero {
  background: #333;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

section {
  padding: 40px 20px;
}

.trainer-card {
  background: #f4f4f4;
  padding: 20px;
  width: 200px;
  text-align: center;
}

form {
  max-width: 400px;
  margin-top: 20px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #111;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #444;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
